body{
    height: 100vh;
    margin: 0;
    padding: 0;
}

.login{
    display: grid;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    background-image: url('/src/assets/images/web.jpg');
    background-size: cover;
    align-items: center;
    justify-items: center;
}

.login__box{
    display: grid;
    align-items: center;
    padding: 4rem;
    background: rgba(0,0,0,0.8);
    width: 50%;
    border-radius: 10px;
}

.login_title{
    color:white;
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.login_inputBox{
    margin-bottom: 2rem;
}

.login__input{
    background-color:transparent;
    outline: none;
    border:none;
    border-bottom: 1px #ccc solid;
    width: 100%;
    color:white;
    font-size: 1.5rem;
    line-height: 1.5rem;
}

.login__label{
    display: block;
    color:white;
    transform: translateY(-2.0rem);
    width: 100%;
    transition: 0.5s;
    font-size: 1.5rem;
    box-sizing: border-box;
    pointer-events: none;
}

.login__submit{
    border-radius: .5rem;
    padding: .75rem 1.5rem;
    background-color:#03a9f4;
    cursor:pointer;
    border: none;
    color:white;
}

.login__input:focus ~ label,
.login__input:valid ~ label
{
    transform: translateY(-3rem);
    font-size: .8rem;
    color: #03a9f4;
}

.login__input:required {
    box-shadow:none;
}