*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.slider{
    overflow: hidden;
}

.slider__track-container{
    position: relative;
    width: 500%;
    left: 0;
    animation: 20s slider infinite alternate;
}

.slider__image{
    width: 20%;
    float: left;
}

@keyframes slider{
    0% {margin-left:0;}

    25% {margin-left:-100%;}

    50% {margin-left:-200%;}

    75% {margin-left:-300%;}

    100% {margin-left:-400%;}
}